html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

body {
  margin: 0;
  text-align: center;
}

/* Navigation Styling */

.navbar {
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  z-index: 99999;
}

.logo img {
  height: 50px;
  float: left;
  padding: 10px 0 9px 10px;
}

.links {
  float: right;
  padding: 20px 10px 9px 0;
}

.links a {
  color: seashell;
  text-decoration: underline;
  padding-left: 20px;
}

/* Flex styling */

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Main Content Styling */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.content {
  margin: auto;
  background-color: #000;
  width: 100%;
}
